PORT=

DEV_DATABASE_URL=
TEST_DATABASE_URL=
PROD_DATABASE_URL=

DEV_DB_USER=mori_dev
DEV_DB_PASSWORD=changeme
DEV_DB_NAME=mori_dev

TEST_DB_USER=mori_test
TEST_DB_PASSWORD=changeme
TEST_DB_NAME=mori_test